.cmd-status {
  color: black;
  padding: 10px;
}
.replay-status {
  color: black;
  padding: 5px;
}
.replay-status:nth-child(1) {
  display: none;
}
.cmd {
  background-color: rgb(238, 235, 235);

  border-radius: 10px;
  padding: 15px;
}
.cmd1 {
  padding: 10px;
  border-radius: 10px;
  justify-content: start;
  display: flex;
}
.cmd-status:nth-child(1) {
  display: none;
}
input:focus {
  border: none !important;
}
