.home.about.switch.Note {
  text-align: center;
  padding: 2rem;
  margin-left: 50%;
  font-size: 2rem;
  color: black;
}

.center {
  justify-content: center;
}
.box3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid rgb(238, 235, 235);
  border-right: 1px solid rgb(238, 235, 235);
  border-top: 1px solid rgb(238, 235, 235);
}
.box4 {
  border-left: 1px solid rgb(238, 235, 235);
  border-right: 1px solid rgb(238, 235, 235);
  border-bottom: 1px solid rgb(238, 235, 235);
}
.cursor {
  cursor: pointer;
}
.box1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(238, 235, 235);
  border-left: 1px solid rgb(238, 235, 235);
  border-right: 1px solid rgb(238, 235, 235);
  border-top: 1px solid rgb(238, 235, 235);
}
.box2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border-left: 1px solid rgb(238, 235, 235);
  border-right: 1px solid rgb(238, 235, 235);
  border-bottom: 1px solid rgb(238, 235, 235);
}
.absolute {
  margin-top: 3%;
  float: right;
}

.label {
  border: 1px solid rgb(214, 214, 214);
  background-color: white;
  border-radius: 18px;
  cursor: pointer;
}
.delete {
  cursor: pointer;
  position: relative;
  left: 145px;
  top: 1rem;
}
.form-controls {
  resize: none;
  width: 90%;
  border: none;
}
.del {
  font-weight: bolder;
  color: white;
  background-color: red;
  border-radius: 10rem;
  padding: 3px;
}
.sorry {
  padding: 8px 20px;
  border: 1px solid rgba(238, 238, 238, 0.733);
  border-radius: 25px;
  background-color: rgba(238, 238, 238, 0.733);
  color: rgba(189, 185, 185, 0.733) "";
}
.form-controls:focus {
  outline: none;
}
.frm1 {
  margin-left: -30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.733);
  border-left: 1px solid rgba(238, 238, 238, 0.733);
  border-right: 1px solid rgba(238, 238, 238, 0.733);
}
.feed {
  background-color: rgba(238, 238, 238, 0.733);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media only screen and (max-width: 960px) {
  .delete > img {
    float: right;
    position: absolute;
  }
}
@media only screen and (max-width: 400px) {
  .delete > img {
    float: right;
    position: absolute;
  }
  .delete {
    top: 0.5rem;
  }
}
@media only screen and (max-width: 960px) {
  .form-control {
    height: 40%;
    width: 100%;
    margin: 0;
  }

  .img1 {
    height: 100px;
    width: 100px;
    margin-left: 0;
  }
  .text {
    text-align: center;
  }
  .delete {
    top: 0rem;
  }
}
@media only screen and (max-width: 660px) {
  .container {
    width: auto;
  }
  .delete {
    top: 0rem;
  }
}
