.container-fluid {
  margin: 0;
  padding: 0;
}
.icon {
  border: 1px solid white;
  background-color: aliceblue;
}
.navbar-toggler {
  border: 1px solid white;
  background-color: aliceblue;
}
.brand {
  border-radius: 5px;
}
.logo {
  font-weight: bold;
  padding: 0 10px;
}
.nav-links {
  font-weight: 400px;
}
.nav-links:hover {
  border-bottom: 1px solid white;
}
.img {
  color: white;
}
.navbar {
  background-color: black;
}
.input:focus {
  border: none;
}
